html {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {

margin: 0 12%;
font-family: sans-serif;

}
h1 {
text-align: center;
font-family: serif;
font-weight: normal;
color: #0c0c0d;
text-transform: uppercase;
border-bottom: 5px solid #47308a;
margin-top: 30px;
}

h2 {
color: #252e30;
font-family: 'Rubik', sans-serif;
    text-align: center;
font-size: 1.5em;
}
h3 {
color: #252e30;
text-align: center;
font-family: 'Rubik', sans-serif;
font-size: 1.5em;
margin-left:250px;
margin-right:250px;
margin-bottom:50px;
}
P{
	text-align: right;
}

#textcenter
{
	text-align: center;
}

#bg1
{
background-image: url("waterflow.JPG");
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
}



#color
{
	color: #191d24;
}
#footer {clear: both;
height: 30px;
text-align: right;
padding-right: 10px;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

